@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kaushan+Script&family=Lato&family=Redressed&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root{
    --nav-colour: #7fe9c7;
    --nav-light: #b8eed2;
    --my-name: #7333da;
    --part-two: #dcfaec;
    --primary-color: #6C63FF;
    --link-colour:#3c61c5;
}


*{
    background: linear-gradient(to left top, rgba(0, 0, 0, 0.8), rgb(8, 3, 3));
}
body{
    color: white;
    text-align: center;
    
}

h1{
    font-family: 'Sacramento', cursive;
    font-weight: lighter;
    margin-top: 2rem;
    /* font-size: 3rem; */
}
h2{
    font-family: 'Sacramento', cursive;
    font-weight: lighter;
    font-size: 3rem;
    color: var(--my-name);
}

img{
    height:20rem;
    width: 20rem;
    border-radius: 50%;
    
}