@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kaushan+Script&family=Lato&family=Redressed&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root{
    --nav-colour: #7fe9c7;
    --nav-light: #b8eed2;
    --my-name: #7333da;
    --part-two: #dcfaec;
    --primary-color: #6C63FF;
    --link-colour:#3c61c5;
}

body{
    font-family: 'Redressed', cursive;
    margin: 0%;
    text-align: center;
}

.brand{
    background-color: var(--nav-colour);
    /* padding: 0.5rem; */
    margin: 0rem;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
} 

.brand-name{
    font-size: 1.5rem;
    text-align: left;
}

.list-inline{
    display:inline;
    padding: 1rem;
}

.non-bullet{
    list-style: none;
}
.align{
    text-align: end;
}

.txt{
    font-size: larger;
}

.nav-link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* .brand .link-active{
    font-weight: bold;
} */
.header{
    background-color:var(--nav-light);
    padding: 1rem;
    margin: none;
}

span{
    font-family: 'Sacramento', cursive;
    font-weight: lighter;
    font-size: 3rem;
    color: var(--my-name)
}
h1{
    font-family: 'Sacramento', cursive;
    font-weight: lighter;
    font-size: 3rem;
}

.welcome{
    font-size: 1.5rem;   
    font-family: 'Dancing Script', cursive;
} 

h2{
    font-family: 'Redressed', cursive;
    font-size: 35px;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.container-center{
    max-width: 800px;
    margin: auto;
}

.exp{
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    padding: 1rem;
}

section{
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.section1{
    background-color: var(--part-two);
    padding: 1rem;
    padding-bottom: 3rem;
}

small{
    text-align: right;
    /* font-weight: lighter; */
}

.link{
    box-sizing: border-box;
    /* border: solid; */
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--link-colour);
}

.primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-family: 'Noto Serif', serif;
}


.section2{
    background-color: var(--nav-light);
    padding: 1rem;
    padding-bottom: 3rem;
}

footer{
    border-top: black;
    border-style: solid;
    margin: 0;
    background-color: var(--nav-colour);
    padding: 0.3rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    /* border-top-right-radius: 1rem; */
}

.link-hov:hover{
    background-color: rgb(255, 255, 255);
    color: var(--primary-color);
    border-color: var(--primary-color);
    border-style: solid;
    border-width: thin;
}

.link-active{
    color: var(--link-colour);
}

ul{
    padding-inline-start: 0px;
    /* margin:0; */
    /* padding: 1rem; */
    
}

ul div{
    padding: 0;
}

.size{
    height: 28px;
    width: 25px;
}


/* font-family: 'Dancing Script', cursive;
font-family: 'Cookie', cursive;
font-family: 'Noto Serif', serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Redressed', cursive;
font-family: 'Sacramento', cursive; */